pre {
  counter-reset: line;
}

span.ln {
  counter-increment: line;
}


span.ln::after {
  z-index: 55;
  position: absolute;
  right: 3%;
  content: counter(line);
  font-size: 14px;
  color: grey;
  -webkit-user-select: none;
}
